<div class="user">
  <h1> Expertise </h1>
  <div class="showcase">
    <div class="skill">
      <h2>Programming languages</h2>
      <img src="{{ "/assets/img/logo-python.svg" | prepend: site.baseurl }}" style="height: 65px">
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="icon-script"></i> 
      <i class="devicon-javascript-plain colored"></i>
      <img src="{{ "/assets/img/logo-r.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-matlab.svg" | prepend: site.baseurl }}" style="height: 65px">
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="skill">
      <h2>Tools and libs</h2>
      <img src="{{ "/assets/img/logo-ros.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-gazebo.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-opencv.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-visp.png" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-moveit.png" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-gstreamer.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-solidworks.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-latex.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-vim.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-vscode.svg" | prepend: site.baseurl }}" style="height: 65px">
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="skill">
      <h2>Platforms</h2>
      <i class="icon-ubuntu" style="color:orange"></i>
      <i class="fa fa-windows"></i>
      <img src="{{ "/assets/img/logo-mbed.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-arduino.svg" | prepend: site.baseurl }}" style="height: 65px">
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="skill">
      <h2>DevOps</h2>
      <i class="devicon-git-plain colored"></i>
      <img src="{{ "/assets/img/logo-ansible.svg" | prepend: site.baseurl }}" style="height: 65px">
      <img src="{{ "/assets/img/logo-jira.svg" | prepend: site.baseurl }}" style="height: 65px">
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
  </div>
</div>