<div id="particles-js">
  <div class="header">
    <img class="img-responsive" src="{{ " /assets/img/androidify.png" | prepend: site.baseurl }}" alt="">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">{{site.user_title}}</span>
    </h1>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:haisongdong.harrison@gmail.com"><i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/haisong-dong/"><i
          class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/haisongdong-harrison"><i
          class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#expertise" data-scroll>Expertise</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
      <a class="link" href="#about" data-scroll><span class="nobr">About Me</span></a>
      <a class="link" target="_blank"
        href="https://drive.google.com/file/d/1IyOkZtcP-C2YOtjrs8FQg8D2JJSP_Elv/view?usp=sharing">Resume</a>
    </div>
  </div>
</div>