<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Interactive Robot Arm" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Interactive Robot Arm </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p>TBA</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="PLEN Cube" src="{{ "/assets/img/project-plen-cube.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PLEN Cube </h3>
    <ul>
      <li> <strong>Covered topics:</strong> behavior tree, face tracking, panorama stitching, beat tracking, voice recognition, motion control, 
        wireless communication, TDD</li>
    </ul>
    <p>A portable personal assistant robot that fits in the palm of user's hand.</p>
    <a class="project-link" href="https://www.kickstarter.com/projects/1127302719/plen-cube-the-portable-personal-assistant-robot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="G-TEC 2014" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> G-TEC 2014 </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p>Experiential training course on commercialization of early stage technology: technology / venture assessment</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Mobile Robotic Platform Patent" src="{{ "/assets/img/project-patent.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Mobile Robotic Platform Patent </h3>
    <ul>
      <li> <strong>Covered topics:</strong></li>
    </ul>
    <p>A highly customizable mobile robotic platform with 3D printable components that can be used for testing of mobile sensor network algorithms
       in indoor laboratory environment. </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Full-body Sensing Network Based Motor Skill Coaching System" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Full-body Sensing Network Based Motor Skill Coaching System </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Timing Issue in Power-assisted System" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Timing Issue in Power-assisted System </h3>
    <ul>
      <li> <strong>Covered topics:</strong></li>
    </ul>
    <p>TBA</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Lower Body Exoskeleton" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Lower Body Exoskeleton </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Freescale Cup Intelligent Car Competition" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Freescale Cup Intelligent Car Competition </h3>
    <ul>
      <li> <strong>Covered topics:</strong></li>
    </ul>
    <p>TBA</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Renesas Super MCU Car Rally (China)" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Renesas Super MCU Car Rally (China) </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p></p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
