<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Interactive Robot Arm" src="{{ "/assets/img/NA.png" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Hierarchical State Machine, Motion Planning, Visual Servoing, Collision Avoidance, Singularity Avoidance, 
      Inverse Kinematics with Jacobian, Face Detection, Person Tracking, Hand Tracking, Pose Estimation
    </p>
  </div>
  <div class="contents-right">
    <h3> Interactive Robot Arm </h3>
    <p>Bubble Lab is dedicated to introducing innovative automation technologies to the foodservice industry, which helps to bridge the gap between human and
       machine. Their previous work focused on the design of intelligent devices for cafés and restaurant. This project is a whole new attempt. We took advantage
       of the power of UR3, a collaborative industrial robotic arm, to develop a computer-vision-based robot to interact with customers and provide on-demand
       service. The robot is currently in beta test at Dotcom Space, Beijing. My contribution of the project: </p>
      <ol>
        <li>Designed the software architecture and hardware solution.</li>
        <li>Focused on visual servoing, motion planning and controller
            implementation with singularity avoidance added.</li>
        <li>3D image processing and computer vision algorithm integration (i.e.
            face detection/person tracking/pose estimation) with Intel RealSense
            camera.</li>
        <li>Also responsible for business logic and GUI development.</li>
        <li>In charge of project management and communication with Bubble Lab
            (China) team.</li>
      </ol>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="PLEN Cube" src="{{ "/assets/img/project-plen-cube.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Behavior Tree, Face Tracking, Panorama Stitching, Beat Tracking, Voice Recognition, Video/Audio Streaming, 
      Motion Control, Wireless Communication, TDD, Software Deployment
    </p>
  </div>
  <div class="contents">
    <h3> PLEN Cube </h3>
    <p>PLEN Cube is a portable personal assistant robot that fits in the palm of user's hand. It is the first product of PLENGoer Robotics (current PLEN Robotics)
      that I developed as a founding member of the company. My major accomplishments include: 
      <ol>
        <li>Recruited and trained interns, conducted negotiation with third-party solution provider and
            provided technical evaluation in place of a resigned CTO.</li>
        <li>Designed the software architecture based on behavior tree.</li>
        <li>Implemented most major functionalities of the robot, including: 
            video/audio streaming, beat tracking for dancing with music, face
            tracking, voice control, gesture control, low-level hardware/software
            interface and wireless communication.</li>
        <li>Deployed application on multiple machines using Ansible.</li>
      </ol>
    </p>
    <a class="project-link" href="https://www.kickstarter.com/projects/1127302719/plen-cube-the-portable-personal-assistant-robot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="G-TEC 2014" src="{{ "/assets/img/project-gtec.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Tech Transfer, Commercialization, Entrepreneurship, Case Study, Elevator Pitch, Market Research, Business Plan,
      Technology Assessment, Venture Assessment
    </p>
  </div>
  <div class="contents-right">
    <h3> G-TEC 2014 </h3>
    <p>A two-week experiential training course on commercialization of early-stage technology. Groups are formed by experts with different backgrounds, and a real
       technology under development is assigned to each group for thorough assessment in terms of its feasibility of commercialization. For a technology with
       great potential, participants are required to perform market research, prior art search, etc. and draft business plan to evaluate its profitability. On the
       final pitch day, the groups will present the assessment results to actual venture capitalists and investment could be made to bootstrap promising business.
    </p>
    <a class="project-link" href="https://www.youtube.com/watch?v=O1W2_Ih9qjc">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Mobile Robotic Platform Patent" src="{{ "/assets/img/project-patent.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Mobile Robot, 3D Modeling, 3D Printing</p>
  </div>
  <div class="contents">
    <h3> Mobile Robotic Platform Patent </h3>
    <p>A highly customizable mobile robotic platform with 3D printable components that can be used for testing of mobile sensor network algorithms
       in an indoor laboratory environment. </p>
    <a class="project-link" href="https://worldwide.espacenet.com/publicationDetails/biblio?FT=D&date=20161028&DB=&locale=en_EP&CC=ES&NR=2588065A1&KC=A1&ND=5">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Full-body Sensing Network Based Motor Skill Coaching System" src="{{ "/assets/img/project-sensor.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Biomechanics, Movement Analysis, Kinetic Chain, Sensor Fusion, Data Acquisition, Statistical Analysis, Data Visualization, 
      3D Modeling, Golf, Putting Stroke, EEG, ERP
    </p>
  </div>
  <div class="contents-right">
    <h3> Full-body Sensing Network Based Motor Skill Coaching System </h3>
    <p>This research aims to develop a novel coaching system that can substantially improve motor learning efficiency for certain sports skills. We developed an
       18-channel 6-axis full-body wearable sensor network in order to obtain real-time, precise biomechanical data for high-performance movement analysis. Golf
       putting stroke is selected as our target skill in the experiment. We are then able to compare movement patterns of professional athletes and amateur players
       and derive necessary on-line feedback signals to help the amateur players' movement converge to the professionals'. In the end, we also attempted to develop
       a self-evaluation sub-system using event-related potential (ERP) so we know if the user reacted to our feedback timely or not.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Timing Issue in Power-assisted System" src="{{ "/assets/img/project-timing.png" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Exoskeleton, Power-Assisted Device, Timing, Well-Timed Assistance, Sit-to-Stand Movement, Data Acquisition, Statistical Analysis,
      Data Visualization 3D Modeling, EMG
    </p>
  </div>
  <div class="contents">
    <h3> Timing Issue in Power-assisted System </h3>
    <p>This is a continuation of the previous work on the exoskeleton. We investigated the commonly neglected timing issue in power-assisted devices and designed
       an EMG based evaluation method to verify our hypothesis. As a result, we achieved above-the-norm performance with well-timed assistance than most of the
       other proportional-EMG-controlled human augmentation devices. A journal paper has been published in <i>SICE Journal of Control, Measurement, and System
       Integration</i> titled <i>On the Well-Timed Assistance in Power-Assisted Sit-to-Stand Movement</i>. </p>
    <a class="project-link" href="https://www.jstage.jst.go.jp/article/jcmsi/8/5/8_312/_article">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Lower Body Exoskeleton" src="{{ "/assets/img/project-exoskeleton.jpg" | prepend: site.baseurl }}" hspace="80" />
    <p><strong>Covered topics:</strong> Mechanical Design, Exoskeleton, Pneumatic Actuation, Biomechanics, Legged Locomotion</p>
  </div>
  <div class="contents-right">
    <h3> Lower-Body Exoskeleton </h3>
    <p>We designed a lower-body exoskeleton for power assistance in daily activities. Our prototype has been through several iterations. The initial concept was to
       incorporate energy recycling mechanism so the suit could be quasi-passive and energy efficient. We then adopted the tensegrity structure in Architecture in 
       order to reduce the overall size. The final exoskeleton is more similar to traditional designs, which employed one air cylinder each leg as the main actuators.
       Encoders are also mounted on hip, knee and ankle joints for gait detection and movement analysis.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Freescale Cup Intelligent Car Competition" src="{{ "/assets/img/project-freescale.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Real-Time Kernel(µC/OS-II), Finite State Machine, PWM, PID Controller，Ackermann Steering, Speed Differential, Embedded System, 
      Signal Processing
    </p>
  </div>
  <div class="contents">
    <h3> Freescale Cup Intelligent Car Competition </h3>
    <p>The Freescale Cup is similar to the Renesas competition below but has more restrictions on the car itself. To improve the algorithm-heavy system's performance,
       for the first time we tried to use a real-time kernel(µC/OS-II) on the Freescale HCS12 and won a district 3rd prize in the end.
    </p>
    <a class="project-link" href="http://www.smartcar.au.tsinghua.edu.cn">Check it out (Chinese)</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Renesas Super MCU Car Rally (China)" src="{{ "/assets/img/project-renesas.jpg" | prepend: site.baseurl }}" />
    <p><strong>Covered topics:</strong> Finite State Machine, PWM, PID Controller, Ackermann Steering, Speed Differential, Embedded System, Coreless DC Motor, 
      H Bridge
    </p>
  </div>
  <div class="contents-right">
    <h3> Renesas Super MCU Car Rally (China) </h3>
    <p>A smart line-tracking car built on top of the Renesas H8/3048F-ONE microcontroller. The goal is to race on an unknown track at maximum speed with only eight
       IR sensors in front. We customized the car using high-performance coreless DC motors and encoder and achieved ultra low failure rate at 3.2m/s. I worked as
       the algorithm architect with my team and won the 1st prize winner.
    </p>
    <a class="project-link" href="https://www.renesas.com/zh-cn/about/press-center/news/2012/news20120924.html">Check it out (Chinese)</a>
  </div>
</div>
