<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/project-plen-cube.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> PLEN Cube </h3>
    <ul>
      <li> <strong>Covered topics:</strong> behavior tree, face tracking, panorama stitching, beat tracking, voice recognition, motion control, 
        wireless communication</li>
    </ul>
    <p>A portable personal assistant robot that fits in the palm of user's hand.</p>
    <a class="project-link" href="https://www.kickstarter.com/projects/1127302719/plen-cube-the-portable-personal-assistant-robot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> <strong>Covered topics:</strong> </li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
