#expertise {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user {
  text-align: center;
}

.showcase {
  text-align: center;
  font-size: 60px;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 75px;
  }
}

.skill {
  margin: 10px;
  @media only screen and (min-width: $cut) {
    display: inline-block;
    width: calc(50% - 21px);
  }
}