#particles-js {
  background: $main;
  display: flex;
  vertical-align: bottom;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .particles-js-canvas-el {
    width:100% !important;
    height:100vh !important;
  }
}

.header {
  z-index: 1;
  text-align: center;
  color:#FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 50px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 30px;
    @media only screen and (min-width:$cut){
      font-size: 75px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #FFF;
    margin-top: 30px;
    @media only screen and (min-width:$cut){
      font-size: 30px;
    }
  }
}

.img-responsive {
  display: inline-block;
  position: relative;
  top: 15vh;
  width: 150px;
  height: 150px;
  border-radius: 20%;
  object-fit: cover;
  @media only screen and (min-width:$cut){
    width: 250px;
    height: 250px
  }
}

.header-links {
  margin: 40px;
  .link {
    color: #FFF;
    text-decoration: none;
    font-size: 15px;
    margin: 30px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center;
  .icon {
    text-align: center;
    color: #FFF;
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: all .7s;
    &:hover {
      color: $main;
      background: #FFF;
    }
    &:active {
      color: $main;
      background: #FFF;
    }
    @media only screen and (min-width:$cut) {
      width: 35px;
      height: 35px;
      font-size: 35px;
    }
  }
}

